<body>
    <main class="flex items-center justify-center h-screen">
        <form>
            <div class="bg-white w-96 p-6 rounded shadow-sm">
            <div class="flex items-center justify-center mb-4">
            <img src="../../Images/Logo.png" class="h-32"> 
            </div>
            <label class="text-gray-700">First Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Last Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Username</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Phone Number</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Email</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Password</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="password">
            <button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Signup</button>
            </div>
        </form>
    </main>
</body>