<section class="flex items-center justify-center h-screen">
    <form>
        <div class="bg-white w-96 p-6 rounded shadow-sm">
            <label class="text-gray-700">Job Title</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Job Description</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Job Location</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Job Date</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="date">
            <label class="text-gray-700">Hourly Wage</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number">
            <label class="text-gray-700">Job Duration</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number">
            <button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Create Job</button>
        </div>
    </form>
</section>