<section class="flex items-center justify-center">
    <div class="bg-blue-100 h-full p-6 rounded my-4 shadow-sm"></div>
    <form action="/jobs/create" method="post">
        <label class="text-gray-700">Job Title</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="job_title">
        <label class="text-gray-700">Job Description</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="job_description">
        <label class="text-gray-700">Job Location</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="job_location">
        <label class="text-gray-700">Job Date</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="date" id="job_date">
        <label class="text-gray-700">Hourly Wage</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number" id="hourly_wage">
        <label class="text-gray-700">Job Duration</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number" id="job_duration">
        <button type="click" id="create-job"
            class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Create Job</button>
    </form>
    </div>
</section>
<script src="../public/js/createjob.js"></script>