<section class="flex items-center justify-center">

    <div class="bg-blue-100 w-96 h-full p-6 rounded shadow-sm my-4">
    <form>
        <label class="text-gray-700">Email</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email" id="email">
        <label class="text-gray-700">Password</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="password" id="password">
        <button type="submit" id="login" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Login</button>
    </form>
     </div>
</section>

