<section class="flex items-center justify-center">
    <form>
        <div class="bg-white w-96 h-screen rounded shadow-sm">
        <label class="text-gray-700">Email</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
        <label class="text-gray-700">Password</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="password">
        <button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Login</button>
        </div>
    </form>
</section>
