<section class="flex items-center justify-center">
    <div class="bg-blue-100 h-full p-6 rounded my-4 shadow-sm">
        <form method="post">
            <label class="text-gray-700">First Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="first_name">
            <label class="text-gray-700">Last Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text" id="last_name">
            <label class="text-gray-700">Phone Number</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number" id="contact_number">
            <label class="text-gray-700">Email</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email" id="email">
            <label class="text-gray-700">Password</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="password" id="password">
            <button type="click" id="signUp"
                class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Signup</button>
        </form>
    </div>
</section>
<script src="../public/js/login.js"></script>