
    <section class="flex items-center justify-center">
        <div class="bg-blue-100 h-screen w-full p-6 rounded shadow-sm">
        <form>
            <label class="text-gray-700">First Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Last Name</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Username</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="text">
            <label class="text-gray-700">Phone Number</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="number">
            <label class="text-gray-700">Email</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="email">
            <label class="text-gray-700">Password</label>
            <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 mb-4" type="password">
            <button type="submit" class="bg-blue-500 w-full text-gray-100 py-2 hover-bg-blue-700 transition-colors">Signup</button>
        </form>
        </div>
    </section>